#buttonConnexion{
	cursor:pointer;
}
#buttonInscription{
	cursor:pointer;
}
.icone {
    display: inline-block;
    width:48px;
    height: 48px;
    background-image: url('../img/redes.png');
}

.facebook{
    background-position: -48px -96px;
}

.facebook:hover{
    background-position: -48px -48px;
}

.twitter{
    background-position: -144px -96px;
}

.twitter:hover{
    background-position: -144px -48px;
}
